h1{
    color: red;
    text-align: center;
    background-color: black;
}
body{
    background-color: lightblue;
}
table{
     border:  1px solid burlywood;
     
}

button {
    
    justify-self: center;
    
     box-shadow: inset;
    height: 20px;
    color: black;
    background-color: lightcyan;
    border-radius: 12px 10px 10px;
    
  }